
/*Site Nav design Start*/
.site-nav ul{
    margin: 0px;
    padding: 5px 0px;
}
.site-nav li {
    list-style: none;
    float: left;
    margin-right: 20px;
}
.site-nav a{
    display:inline-block;
    border: 2px solid black;
    padding: 10px 30px;
    margin-top: 0px;
    text-decoration: none;
    color: black;
}
.site-nav a:hover{
    background-color: #4c1434;
    text-decoration: underline;
    transition-duration: 1s;
}
    /*Dropdown button design Start*/
.dropbtn {
    background-color: rgb(218, 157, 157);
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
}
.dropdown {
    overflow: hidden;
    float: left;
}
.dropdown .dropbtn {
    font-size: 16px;
    outline: none;
    color: black;
    background-color:inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.dropdown-content {
    display:none ;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a{
    float: none;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
    display:block;
}
.dropdown-content a:hover {
    background-color: red;
    text-decoration: none;
}
    /*Dropdown button design End*/
/* Site-Nav design End*/

body, html {
    height: 100%;
}
.hero-image{
    margin-top: 50px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Images/Ships/Sunny\ Go\ Water\ color.jpg);
    height: 80%;
    background-position: center;
    background-repeat:repeat;
    background-size:contain;
    position: relative;
}
@font-face {
    font-family: OnePieceFont;
    src: url(../Font/one\ piece\ font.ttf);
}
.hero-text {
    text-align: center;
    font-family: OnePieceFont;
    font-size: 30px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color: white;
}
.hero-text button {
    border: 2px solid black;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}
.hero-text button:hover{
    background-color: #555;
    color: white;
}
.para{
    margin-top: 100px;
    color: yellow;
}